<!-- views/index.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video chat</title>
</head>
<body>
    <form id="form" onsubmit="return callUser()">
        <label for="userToCall">Enter ID to call:</label>
        <input type="text" id="userToCall" required />
        <button type="submit">Call</button>
    </form>

    <video id="myVideo" autoplay muted></video>
    <video id="userVideo" autoplay></video>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/peerjs/peerjs.js"></script>
    <script>
        
        const socket = io({ path: '/socket.io' });
        let peer = new Peer();

        peer.on('open', (id) => {
            console.log('My peer ID is: ' + id);
            socket.emit('join-room', id);
        });

    </script>
</body>
</html>
