<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Talk</title>
    <link rel="stylesheet" href="./style/style.css">
</head>
<body>
    <button onclick="createRoom()">Create room</button>
    <button onclick="joinRoom()">Join room</button>
    <button onclick="availableRooms()">Available rooms</button>

    <div id="availableRoomsList"></div>

    <script src="/socket.io/socket.io.js"></script>
    <script>
        const socket = io();

        function createRoom() {
            socket.emit('createRoom', 'room1');
            console.log('Create room event sent');
        }

        function joinRoom() {
            socket.emit('joinRoom', 'room1');
            console.log('Join room event sent');
        }

        function availableRooms() {
            console.log('Checking available rooms...');
            socket.emit('availableRoomsCheck');
        }

        socket.on('available-rooms', (rooms) => {
            console.log('Available Rooms:', rooms);
        });
    </script>
</body>
</html>
