<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Talk</title>
    <link rel="stylesheet" href="./style/style.css">
</head>
<body>
    <h1>Welcome, start talking</h1>
    <div class="button-container">
            <button id="start-chat">
                Start chatting
            </button>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script>
      
      const socket = io();
      socket.on("me" , id =>{
          window.localStorage.setItem("myId" , id)
      });
      
      const button = document.getElementById('start-chat');
        button.addEventListener('click', () => {
           window.location.assign('create-room');
        });

        
    </script>
</body>
</html>
