<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rooms available</title>
</head>
<body>
    
    <div id="roomList">
        <h2>Available Rooms</h2>
        <ul id="rooms"></ul>
    </div>
    
    <button onclick="createRoomPage()">Create Room</button>

    <script src="/socket.io/socket.io.js"></script>

    <script>
        const socket = io();

        socket.on('rooms-available', (rooms) => {
            console.log(rooms)
            const roomsList = document.getElementById('rooms');
            roomsList.innerHTML = '';

            rooms.forEach(room => {
                const li = document.createElement('li');
                li.textContent = room.roomName;
                li.onclick = () => joinRoom(room.roomName);
                roomsList.appendChild(li);
            });
        });

        const createRoomPage = () => {
            window.location.href = '/create-room';
        };

        const joinRoom = (roomName) => {
            const userName = prompt("Enter your name:");
            if (userName) {
                const data = {
                    roomName,
                    userName
                };

                socket.emit("join-room", data);
                window.location.assign(`/room/${roomName}`);
            }
        };

    </script>
</body>
</html>
