<!-- src/views/room.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Room Information</title>
</head>
<body>
    <h1>Room Information for <%= roomName %></h1>

    <div id="roomInfo">
    </div>
    
    <!-- Local video element -->
    <video id="local-video" autoplay muted></video>
    
    <!-- Remote video elements -->
    <div id="remote-videos"></div>
    
    <button onclick="leaveRoom()">Leave Room</button>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/node_modules/simple-peer/simplepeer.min.js"></script>

    <script>
        const socket = io();
        const roomUsers = []; 


        const roomName = window.localStorage.getItem("roomName")
        socket.emit('room', roomName);

        socket.on('room-info', (roomInfo) => {
            const roomInfoDiv = document.getElementById('roomInfo');
            console.log(roomInfo);
            roomInfoDiv.innerHTML = `<p>Admin: ${roomInfo}</p>`;
        });

        socket.on('user-connected', (newUser) => {
            roomUsers.push(newUser);
        });

        const leaveRoom = () => {
            const confirmLeave = confirm('Are you sure you want to leave the room?');
            if (confirmLeave) {
                socket.emit('leave-room', roomName, 'Samandar');
                window.location.assign('/');
            };
        };

        // socket.on('get-offer', (message) => {
        //     const response = confirm(message);
        //     socket.emit("offer", response);
        // });

      
        navigator.mediaDevices.getUserMedia(
            { video: true, audio: true }
        )
        .then(stream => {
            const localVideo = document.getElementById("local-video");
            if (localVideo) {
                localVideo.srcObject = stream;
            }

           
            handleRemoteStreams();
        })
        .catch(error => {
            console.warn(error.message);
        });

        function handleRemoteStreams() {
            const remoteVideosDiv = document.getElementById('remote-videos');

            socket.on('user-disconnected', (userId) => {
                const userIndex = roomUsers.findIndex(user => user.id === userId);
                if (userIndex !== -1) {
                    roomUsers.splice(userIndex, 1);
                }

                const videoElement = document.getElementById(`remote-video-${userId}`);
                if (videoElement) {
                    videoElement.remove();
                }
            });

            socket.on('stream', (user) => {
                const videoElement = document.createElement('video');
                videoElement.id = `remote-video-${user.id}`;
                videoElement.autoplay = true;

                const userStream = new MediaStream(user.stream);
                videoElement.srcObject = userStream;

                remoteVideosDiv.appendChild(videoElement);
            });
        }


        // const peer = new SimplePeer({ initiator : true });
        // peer.on("connect" , () =>{
        //       console.log("connected");
        // })
        
        console.log(roomUsers)



    </script>
</body>
</html>
