<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Socket.io Chat</title>

</head>
<body>

  <div id="createRoom">
    <h2>Create Room</h2>
    <input type="text" id="adminName" placeholder="Your Name">
    <input type="text" id="roomName" placeholder="Room Name">
    <button onclick="createRoom()">Create Room</button>
  </div>


  <button onclick="switchToRooms()"> Rooms available </button>

  <script src="/socket.io/socket.io.js"></script>
  <script>
    const socket = io();



function createRoom() {
  const adminName = document.getElementById('adminName').value;
  const roomName = document.getElementById('roomName').value;
  socket.emit('create-room', { adminName, roomName });
}




const switchToRooms = () =>{
    window.location.assign('available-rooms')
}
  </script>
</body>
</html>
