<!-- src/views/room.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Room Information</title>
</head>
<body>
    <h1>Room Information for <%= roomName %></h1>

    <div id="roomInfo">
    </div>
    <button onclick="leaveRoom()">Leave Room</button>

    <script src="/socket.io/socket.io.js"></script>
    <script>
        const socket = io();

        socket.emit('room', '<%= roomName %>');

        socket.on('room-info', (roomInfo) => {
            const roomInfoDiv = document.getElementById('roomInfo');
            roomInfoDiv.innerHTML = `<p>Admin: ${roomInfo.admin}</p>`;
            roomInfoDiv.innerHTML += `<p>Users count: ${roomInfo.users.length} are online now ! </p>`; 
        });

        socket.on('user-connected', (newUser) => {
            roomUsers.push(newUser);
            updateUsersList();
        });

        const leaveRoom = () => {
            const confirmLeave = confirm('Are you sure you want to leave the room?');
            if (confirmLeave) {
                socket.emit('leave-room', '<%= roomName %>', 'Samandar');
                window.location.assign('/');
            }
        };


        socket.on('get-offer' , ( message) =>{
              const response =  confirm("Accept the user ");
              socket.emit("answer" , response)
        })

    </script>
</body>
</html>
