<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rooms available</title>
</head>
<body>
    
    <div id="roomList">
        <h2>Available Rooms</h2>
        <ul id="rooms"></ul>
    </div>
    
    <button onclick="createRoomPage()">Create Room</button>

    <script src="/socket.io/socket.io.js"></script>

    <script>
        const socket = io();

        socket.on('rooms-available', (rooms) => {
            const roomsList = document.getElementById('rooms');
            roomsList.innerHTML = '';

            rooms.forEach(room => {
                const li = document.createElement('li');
                li.textContent = room.roomName;
                li.onclick = () => joinRoom(room.roomName);
                roomsList.appendChild(li);
                console.log(room.users)
            });
        });

        const createRoomPage = () => {
            window.location.assign('create-room');
        }

        const joinRoom = (roomName) => {
            socket.emit('ask', 'One user wants to join to: ' , roomName );
            const userName = prompt('Enter your username:');
            if (userName) {
                socket.emit('join-room', { userName, roomName });
                window.location.assign(`room/${roomName}`);
            } else {
                alert('Please enter a valid username.');
            }
        };
    </script>
</body>
</html>
