<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tal || Create room</title>
</head>
<body>
    

<div class="main">
    <div class="room">
        <input type="text" placeholder="enter room name "  id="room-name"/>
        <input type="text" placeholder="enter your name "  id="user-name"/>
    </div>
    
    <button id="create-room-btn"> Create room</button>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/create-room.js"></script>
</div>
</body>
</html>